<h1>Mobile Components</h1>

<table border="2">
   
        
<thead>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
</thead>

<tbody>
    <tr>
        <td>10011</td>
        <td><img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSfkeS_ztB8DPh1iv50eIdMoaa87S9Kn653bBpES5L5GMu8R3P86tF0xK9FIP4YxwQFKEhqNwVjMslnnL8gzCZhfHKZOLwWyOiEIPEVH1SJF3EybrVCze5m7g&usqp=CAc"></td>
        <td>500</td>
    </tr>

<tr>
    <td>10022</td>
    <td><img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSXTb_NXm9EcINPWno3t_lAY55TXHXyhx3lpp86eAvdMHhlOBqFZz-qu02m32VWJD90kXVMR2o8-lA9nSHA9FbqSaAnXqjWrGUrjVU8nfxR5Fc3PU2UWrwxZJ0UeNA5Hap67A&usqp=CAc"></td>
    <td>400</td>
</tr>
</tbody>

</table>
